################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CharacterController/Temp/UnityLockfile

#Ignore Files Below
*.png